@primary-color: #1444aa; // 全局主色
@link-color: #a9d134; // 链接色
@font-size-base: 15px; // 主字号
@heading-color: #f8df8b; // 标题色
@text-color: rgb(255, 255, 255); // 主文本色
@text-color-secondary: rgba(255, 255, 255, 0.45); // 次文本色
@main: #1444aa;
@second: #6f9412;
@bk: #333;
@border-space: 3%;

.showing {
  overflow: hidden;
  text-align: left;
}
.close-btn {
  float: right;
  position: relative;
  right: auto;
  border-radius: 50px;
  height: 40px;
  background: @heading-color;
  color: @main;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}
.index-movie {
  width: 100%;
  opacity: 0;
  padding: @border-space;
  transition: all 0.2s ease-in-out;
  background: rgba(37, 56, 97, 0.95);
  position: absolute;
  left: 0;
  top: 10%;
  transform: scale(1, 0.1) translateY(-50%);
  &.active {
    position: fixed;
    transform: scale(1, 1) translateY(0%);
    opacity: 1;
    z-index: 18;
  }
  h2.ant-typography {
    margin-bottom: 10px;
  }
  .ant-row > .ant-col:first-child {
    text-align: right;
  }
  .summary {
    margin: 20px 0;
  }
}
.player-wrapper {
  position: relative;
  width: 50%;
  margin: 0 auto;
  //padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.btn-trailer {
  &:hover {
    border-color: @heading-color;
    color: @heading-color;
  }
}
.trailer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .description {
    margin-right: @border-space;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .control-list {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
    background: rgba(20, 68, 170, 0.7);
    &:hover {
      opacity: 1;
    }
    button {
      margin: 0 5px;
      border-radius: 0;
    }
    .vol-control {
      margin: 0 10px;
      display: flex;
      align-items: center;
    }
    .muted {
      display: inline-block;
      cursor: pointer;
    }
  }
}
.ant-list-empty-text,
.ant-empty-normal {
  color: @text-color;
}
.ant-card-cover {
  min-height: 150px;
  background: @main;
}

///////////coming movie

.coming {
  padding-bottom: @border-space;
  .slick-list {
    background: #000;
    border-radius: 15px;
  }
  .ant-image {
    cursor: pointer;
    background: @main;
    .ant-image-img {
      min-height: 100px;
    }
  }
}
.coming-box {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  span {
    font-size: 18px;
    writing-mode: vertical-lr;
  }
}
.ant-carousel-vertical .slick-dots-left {
  left: 10%;
}
.ant-carousel .slick-dots li {
  width: 5px;
  height: 25px;
}
.ant-carousel-vertical .slick-dots li button {
  width: 6px;
}
.ant-carousel .slick-dots li.slick-active button {
  width: 6px;
  background: @heading-color;
  border-radius: 20px;
}
.ant-carousel .slick-dots li button {
  height: 20px;
  background: @main;
  border-radius: 20px;
}

.ant-list-vertical .ant-list-item-meta-title {
  font-size: 24px;
  font-family: 'DM Serif Display', serif;
}
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  color: @heading-color;
  &:hover {
    background: @heading-color;
    color: @main;
  }
}
@media (max-width: 996px) and (orientation: landscape) {
  .player-wrapper {
    position: relative;
    width: 80%;
  }
  h2.ant-typography,
  div.ant-typography-h2,
  div.ant-typography-h2 > textarea,
  .ant-typography h2 {
    font-size: 24px;
  }
  h4.ant-typography {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  h2.ant-typography {
    font-size: 24px;
  }
  .trailer-box {
    .description {
      flex-direction: column;
    }
    .close-btn {
      position: absolute;
      right: @border-space;
    }
  }
  .player-wrapper {
    position: relative;
    width: 100%;
    //padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }

  .index-movie {
    top: 0;
    height: 100vh;
    padding: 15vh @border-space;
    display: flex;
    justify-content: center;
  }
  .summary {
    height: auto;
    max-height: 50vh;
    overflow-y: scroll;
  }
}
